body {
    
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    margin-top: 20px;
}

.navbar-brand {
    color: #3D3D3D !important;
    font-weight: 900;
    letter-spacing: 5px;
}      

.navbar-nav {
    float: right;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    color: #515151;

}

.aboutmepara {
    margin-top: 30px;
}

p {
    font-size: 12px;
    line-height: 16px;
}

.aboutmetext {
    margin-top: 20px;
}

.pageheadings {
    margin-top: 30px;
    margin-bottom: 10px;
}

.filmphoto {
    position: relative;
    text-align: center;
}

.lifestylephoto {
    position: relative;
    text-align: center;
}

.surfphoto {
    position: relative;
    text-align: center;
}

.surfphototext {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lifestylephototext {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filmphototext {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolioimge {
    
    filter: blur(40px);
    opacity: 0.9;
    
}

.portfolioimge:hover {
    filter: blur(0px);
    opacity: 1;
}

.description {
    color: whitesmoke;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.2px;
    text-decoration: underline;
}



}
